<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)=" updatePassword()">
                <h1 class="h3 mb-3 font-weight-normal">Modifier mon mot de passe</h1>
                
                <div class="form-group">
                    <label>Ancien mot de passe</label>
                    <input type="password" class="form-control" name="mdp" placeholder="****"
                        [(ngModel)]="credentials.mdp">
                </div>
                
                <div class="form-group">
                    <label>Nouveau mot de passe</label>
                    <input type="password" class="form-control" name="newmdp" placeholder="****"
                        [(ngModel)]="credentials.newmdp">
                </div>
                <div class="form-group">
                    <label>Confirmer le nouveaau mot de passe</label>
                    <input type="password" class="form-control" name="mdp2" 
                        [(ngModel)]="credentials.mdp2">
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
</div>