<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script>
  window.jQuery ||
    document.write(
      '<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>'
    );
</script>
<script
  src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
  crossorigin="anonymous"
></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"></script>

<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="
          let recette of this.latestRecipes;
          let index = index;
          let isFirst = first
        "
        [ngClass]="{ active: isFirst }"
        [ngStyle]="{
          'background-image': 'url(&quot;' + recette.lienImage + '&quot;)'
        }"
      >
        <img
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
        />
        <div class="container">
          <div class="carousel-caption">
            <ul class="post-categories">
              <li *ngFor="let category of recette.categories">
                <a rel="category tag">{{ category.libelleCategorie }}</a>
              </li>
            </ul>
            <h1>{{ recette.nomRecette }}</h1>
            <div class="post-more">
              <a
               
                [routerLink]="['/recipe', recette.idRecette]"
                class="btn btn-primary btn-effect"
              >
                <span>Voir...</span>
                <span><i class="fa fa-long-arrow-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#myCarousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#myCarousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h4 class="title-trending">Les plus vues</h4>

  <owl-carousel
    [options]="myCarouselOptions"
    [carouselClasses]="['owl-theme', 'sliding']"
    [items]="this.mostPopularRecipes"
  >
    <div class="item" *ngFor="let recette of this.mostPopularRecipes">
      <div id="imgSize">
        <div
          class="box"
          [ngStyle]="{
            'background-image': 'url(&quot;' + recette.lienImage + '&quot;)'
          }"
        >
          <img
            id="imgCard"
            class="bd-placeholder-img"
            width="180"
            height="auto"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
          />
        </div>
      </div>
      <ul class="post-categories2">
        <li *ngFor="let category of recette.categories">
          <a rel="category tag">{{ category.libelleCategorie }}</a>
        </li>
      </ul>
      <h2 id="cardTitle">{{ recette.nomRecette }}</h2>
      <div id="container">
        <div class="centre">
          {{ recette.mot }}
        </div>
        <!-- centre -->
      </div>
      <p>
        <a
         
          [routerLink]="['/recipe', recette.idRecette]"
          class="btn btn-primary btn-effect top"
        >
          <span>Voir »</span>
          <span><i class="fa fa-long-arrow-right"></i></span>
        </a>
      </p>
    </div>
  </owl-carousel>

  <div class="container marketing">
    <hr class="featurette-divider" />

    <h4 class="title-trending">Suggestions du moment</h4>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div
                class="col-md-6 col-lg-6 ftco-animate fadeInUp ftco-animated"
                *ngIf="petitDej"
              >
                <div class="blog-entry">
                  <div
                    class="img img-big img-big-2 d-flex align-items-end"
                    [ngStyle]="{
                      'background-image':
                        'url(&quot;' + petitDej.lienImage + '&quot;)'
                    }"
                  >
                    <div class="overlay"></div>
                    <div class="text">
                      <ul class="post-categories">
                        <li *ngFor="let category of petitDej.categories">
                          <a rel="category tag"
                            ><span class="subheading">{{
                              category.libelleCategorie
                            }}</span></a
                          >
                        </li>
                      </ul>
                      <h3>
                        <a class="img">{{ petitDej.nomRecette }}</a>
                      </h3>
                      <div class="card-info">
                        {{ petitDej.mot }}
                      </div>
                      <p class="mb-0">
                        <a
                        
                          [routerLink]="['/recipe', petitDej.idRecette]"
                          class="btn-custom btn-effect"
                          ><span>Voir</span>
                          <span><i class="fa fa-long-arrow-right"></i></span
                        ></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-6 col-lg-6 ftco-animate fadeInUp ftco-animated"
                *ngIf="repas"
              >
                <div class="blog-entry">
                  <div
                    class="img img-big img-big-2 d-flex align-items-end"
                    [ngStyle]="{
                      'background-image':
                        'url(&quot;' + repas.lienImage + '&quot;)'
                    }"
                  >
                    <div class="overlay"></div>
                    <div class="text">
                      <ul class="post-categories">
                        <li *ngFor="let category of repas.categories">
                          <a rel="category tag"
                            ><span class="subheading">{{
                              category.libelleCategorie
                            }}</span></a
                          >
                        </li>
                      </ul>
                      <h3>
                        <a class="img">{{ repas.nomRecette }}</a>
                      </h3>
                      <div class="card-info">
                        {{ repas.mot }}
                      </div>
                      <p class="mb-0">
                        <a
                        
                          [routerLink]="['/recipe', repas.idRecette]"
                          class="btn-custom btn-effect"
                          ><span>Voir</span>
                          <span><i class="fa fa-long-arrow-right"></i></span
                        ></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-md-12 col-lg-12 ftco-animate fadeInUp ftco-animated"
                *ngIf="douceur"
              >
                <div class="blog-entry">
                  <div
                    class="img img-big img-big-2 d-flex align-items-end"
                    [ngStyle]="{
                      'background-image':
                        'url(&quot;' + douceur.lienImage + '&quot;)'
                    }"
                  >
                    <div class="overlay"></div>
                    <div class="text">
                      <ul class="post-categories">
                        <li *ngFor="let category of douceur.categories">
                          <a rel="category tag"
                            ><span class="subheading">{{
                              category.libelleCategorie
                            }}</span></a
                          >
                        </li>
                      </ul>
                      <h3>
                        <a class="img">{{ douceur.nomRecette }}</a>
                      </h3>
                      <div class="card-info">
                        {{ douceur.mot }}
                      </div>
                      <p class="mb-0">
                        <a
                         
                          [routerLink]="['/recipe', douceur.idRecette]"
                          class="btn-custom btn-effect"
                          ><span>Voir</span>
                          <span><i class="fa fa-long-arrow-right"></i></span
                        ></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="sidebar-wrap pt-4">
              <div
                class="sidebar-box categories text-center ftco-animate fadeInUp ftco-animated"
              >
                <h2 class="heading mb-4">Catégories</h2>
                <ul class="category-image">
                  <li *ngFor="let categ of categories">
                    <a
                      *ngIf="categ.idCategorie == 1"
                      (click)="goToCategory(categ.idCategorie)"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url(../../assets/img/categories/cookie-brioché.jpg);
                        box-shadow: inset 30em 30em rgba(0, 0, 0, 0.35);
                      "
                    >
                      <div class="text">
                        <h3>{{ categ.libelleCategorie }}</h3>
                      </div>
                    </a>
                    <a
                      *ngIf="categ.idCategorie == 2"
                      (click)="goToCategory(categ.idCategorie)"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url(../../assets/img/categories/pancakes.jpg);
                        box-shadow: inset 30em 30em rgba(0, 0, 0, 0.35);
                      "
                    >
                      <div class="text">
                        <h3>{{ categ.libelleCategorie }}</h3>
                      </div>
                    </a>
                    <a
                      *ngIf="categ.idCategorie == 3"
                      (click)="goToCategory(categ.idCategorie)"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url(../../assets/img/categories/healthy.jpg);
                        box-shadow: inset 30em 30em rgba(0, 0, 0, 0.35);
                      "
                    >
                      <div class="text">
                        <h3>{{ categ.libelleCategorie }}</h3>
                      </div>
                    </a>
                    <a
                      *ngIf="categ.idCategorie == 4"
                      (click)="goToCategory(categ.idCategorie)"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url(../../assets/img/categories/boisson.png);
                        box-shadow: inset 30em 30em rgba(0, 0, 0, 0.35);
                      "
                    >
                      <div class="text">
                        <h3>{{ categ.libelleCategorie }}</h3>
                      </div>
                    </a>
                    <a
                      *ngIf="categ.idCategorie == 5"
                      (click)="goToCategory(categ.idCategorie)"
                      class="img d-flex align-items-center justify-content-center text-center"
                      style="
                        background-image: url(../../assets/img/categories/pois-chiches.jpg);
                        box-shadow: inset 30em 30em rgba(0, 0, 0, 0.35);
                      "
                    >
                      <div class="text">
                        <h3>{{ categ.libelleCategorie }}</h3>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <h4 class="title-trending">
    Pourquoi créer un compte ?
  </h4>
  <div class="container marketing" style="margin-bottom: 2em;">
    <div class="swiper-container" [swiper]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="display: block;">
          <div
            style="
              border: 2px solid black;
              border-radius: 3em;
              margin-bottom: 1em;
              display: inline-block;
            "
          >
            <div class="box2">
              <img
                id="imgCard"
                class="bd-placeholder-img"
                style="border-radius: 2em;"
                width="180"
                height="auto"
                src="../../../assets/img/menu.PNG"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
              />
            </div>
            <!-- centre -->
          </div>
          <div id="container">
            <h2>Menu de la semaine</h2>
            <div>
              Marre de ne plus savoir ce que tu avais prévu cette semaine ? Avec
              cette fonctionnalité, retrouve toutes tes recettes au même
              endroit! Si c'est une recette du site, tu y auras accès
              directement en cliquant dessus! Et si tu manques d'idées pour
              cette semaine, tu peux voir le menu de Marine!
            </div>
            <!-- /.col-lg-4 -->
          </div>
        </div>
        <div class="swiper-slide" style="display: block;">
          <div
            style="
              border: 2px solid black;
              border-radius: 3em;
              margin-bottom: 1em;
              display: inline-block;
            "
          >
            <div class="box2">
              <img
                id="imgCard"
                class="bd-placeholder-img"
                style="border-radius: 2em;"
                width="180"
                height="auto"
                src="../../../assets/img/liste_course.PNG"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
              />
            </div>
            <!-- centre -->
          </div>
          <div id="container">
            <h2>Liste de courses</h2>
            <div>
              A partir d'une recette, tu peux directement ajouter tous les
              ingrédients à ta liste de courses, plus besoin de réfléchir! Tu
              peux supprimer ce dont tu n'as pas besoin et rajouter toi même des
              ingrédients à la liste.
            </div>
            <!-- /.col-lg-4 -->
          </div>
        </div>
        <div class="swiper-slide" style="display: block;">
          <div
            style="
              border: 2px solid black;
              border-radius: 3em;
              margin-bottom: 1em;
              display: inline-block;
            "
          >
            <div class="box2">
              <img
                id="imgCard"
                class="bd-placeholder-img"
                style="border-radius: 2em;"
                width="180"
                height="auto"
                src="../../../assets/img/mes_recettes.PNG"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
              />
            </div>
            <!-- centre -->
          </div>
          <div id="container">
            <h2>Mes recettes</h2>
            <div>
              Pratique! Retrouve toutes tes recettes préférées du site au même
              endroit! Pour celà il te suffit de cliquer sur le petit coeur
              d'une recette lorsque tu es connecté.
            </div>
            <!-- /.col-lg-4 -->
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let recette of recettes">
      <div
        class="owl-stage"
        style="
          transform: translate3d(-1243px, 0px, 0px);
          transition: all 0.25s ease 0s;
          width: 3730px;
        "
      >
        <div class="owl-item" style="width: 207.167px;">
          <div
            class="gs-item set-bg"
        
            [routerLink]="['/recipe', recette.idRecette]"
            [ngStyle]="{
              'background-image': 'url(&quot;' + recette.lienImage + '&quot;)'
            }"
            style="
              height: 298.656px;
              background-size: cover;
              background-position: center;
            "
          ></div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</main>
