    h1 {
        margin-bottom: 1.5rem;
    }
    
    h3 {
        font-size: 1.55rem;
    }
    
    .col-md-4 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #cardTitle {
        margin-bottom: 0.5em;
    }
    /*p {
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #9400ff;
    white-space: nowrap;
}*/
    
    #container {
        width: 100%;
        height: auto;
        //background-color: #ccc;
        //border: 1px solid #000;
        overflow: hidden;
        margin-bottom: 1em;
    }
    
    .centre {
        float: left;
        width: 100%;
        margin: 0;
        //max-width: 50%;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        /*border: 1px solid #514242;*/
        @supports (-webkit-line-clamp: 3) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    
    #imgSize {
        width: auto;
        display: inline-table;
        height: 350px;
    }
    
    img {
        display: block;
        margin: 0 auto;
    }
    
    #imgCard {
        width: 250px;
    }
    
    .box {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }
    /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
    /* Carousel base class */
    
    .carousel {
        margin-bottom: 4rem;
    }
    /* Since positioning the image, we need to help out the caption */
    
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
        top: 55%;
        transform: translateY(-50%);
    }
    /* Declare heights because of positioning of img element */
    
    .carousel-item {
        height: 40rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .carousel-item>img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 40rem;
        background-color: rgba(0, 0, 0, 0.35);
    }
    /* MARKETING CONTENT
  -------------------------------------------------- */
    /* Center align the text within the three columns below the carousel */
    
    .marketing .col-lg-4 {
        //margin-bottom: 1.5rem;
        text-align: center;
        margin-top: 1em;
    }
    
    .marketing h2 {
        font-weight: 300;
    }
    
    .marketing .col-lg-4 p {
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    
    .lead {
        font-size: 1.55em;
    }
    /* Featurettes
  ------------------------- */
    
    .featurette-divider {
        margin: 5rem 0;
        /* Space out the Bootstrap <hr> more */
    }
    /* Thin out the marketing headings */
    
    .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.05rem;
    }
    
    .text-muted {
        margin-top: inherit;
    }
    
    .title-trending {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .title-trending:after {
        content: "";
        display: block;
        width: 2rem;
        height: 2px;
        background: black;
        margin: 1rem auto 0;
    }
    /* RESPONSIVE CSS
  -------------------------------------------------- */
    
    @media (min-width: 40em) {
        /* Bump up size of carousel content */
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }
        .featurette-heading {
            font-size: 50px;
        }
        .text-muted {
            margin-top: inherit;
        }
    }
    
    @media (min-width: 62em) {
        .featurette-heading {
            margin-top: 7rem;
        }
        .text-muted {
            margin-top: inherit;
        }
    }
    
    ////////BUTTON//////////
    .post-more {
        text-align: center;
    }
    
    .btn {
        border-color: transparent;
    }
    
    .btn.btn-primary {
        color: #eeeeee;
        background-color: #282828;
        width: 7em;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
    }
    
    .btn:focus,
    .btn:hover {
        border-color: transparent;
    }
    
    input,
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .btn-effect {
        overflow: hidden;
        display: inline-block;
        position: relative;
    }
    
    .btn-effect span {
        display: block;
        transition: all 0.2s ease;
    }
    
    .btn-effect span:first-child {
        transform: translate(0);
    }
    
    .btn-effect span:last-child {
        transform: translateY(200%) translateX(-50%);
        position: absolute;
        left: 50%;
    }
    
    .btn-effect:hover span:first-child {
        transform: translateY(-200%);
    }
    
    .btn-effect:hover span:last-child {
        transform: translateY(-100%) translateX(-50%);
    }
    
    .btn-effect .icon {
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
    }
    
    ///////CATEGORIES
    .post-categories {
        padding-left: 0;
        list-style: none;
        margin-bottom: 1.5rem;
    }
    
    .post-categories li {
        display: inline-block;
    }
    
    .post-categories li:not(:last-child) {
        margin-right: 0.5rem;
    }
    
    .post-categories:before {
        vertical-align: middle;
        display: inline-block;
        content: "";
        width: 2.5rem;
        margin-right: 0.5rem;
        height: 1px;
        background: #eceeef;
    }
    
    .post-categories li:not(:last-child):after {
        content: ",";
    }
    
    .post-categories2 {
        padding-left: 0;
        list-style: none;
        margin-bottom: 1.5rem;
    }
    
    .post-categories2 li {
        display: inline-block;
    }
    
    .post-categories2 li:not(:last-child) {
        margin-right: 0.5rem;
    }
    
    .post-categories2:before {
        vertical-align: middle;
        display: inline-block;
        content: "";
        width: 2.5rem;
        margin-right: 0.5rem;
        height: 1px;
        background: #6c757d !important;
    }
    
    .post-categories2 li:not(:last-child):after {
        content: ",";
    }
    
    ///CAROUSEL BAS
    .owl-carousel {
        display: none;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
        position: relative;
        z-index: 1;
    }
    
    .owl-carousel .owl-stage {
        position: relative;
        //-ms-touch-action: pan-Y;
        //-moz-backface-visibility: hidden;
    }
    
    .owl-carousel .owl-stage:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    
    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        //-webkit-transform: translate3d(0px, 0px, 0px);
    }
    /*.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}*/
    
    .owl-carousel .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        //-webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
    
    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
    }
    
    .owl-carousel .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
        display: none;
    }
    
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .owl-carousel.owl-loaded {
        display: block;
    }
    
    .owl-carousel.owl-loading {
        opacity: 0;
        display: block;
    }
    
    .owl-carousel.owl-hidden {
        opacity: 0;
    }
    
    .owl-carousel.owl-refresh .owl-item {
        visibility: hidden;
    }
    
    .owl-carousel.owl-drag .owl-item {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .owl-carousel.owl-grab {
        cursor: move;
        cursor: grab;
    }
    
    .owl-carousel.owl-rtl {
        direction: rtl;
    }
    
    .owl-carousel.owl-rtl .owl-item {
        float: right;
    }
    
    .no-js .owl-carousel {
        display: block;
    }
    
    .owl-carousel .animated {
        animation-duration: 1000ms;
        animation-fill-mode: both;
    }
    
    .owl-carousel .owl-animated-in {
        z-index: 0;
    }
    
    .owl-carousel .owl-animated-out {
        z-index: 1;
    }
    
    .owl-carousel .fadeOut {
        animation-name: fadeOut;
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    .owl-height {
        transition: height 500ms ease-in-out;
    }
    
    .owl-carousel .owl-item .owl-lazy {
        opacity: 0;
        transition: opacity 400ms ease;
    }
    
    .owl-carousel .owl-item img.owl-lazy {
        transform-style: preserve-3d;
    }
    
    .owl-carousel .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }
    
    .owl-carousel .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        cursor: pointer;
        z-index: 1;
        //-webkit-backface-visibility: hidden;
        transition: transform 100ms ease;
    }
    
    .owl-carousel .owl-video-play-icon:hover {
        -ms-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
    
    .owl-carousel .owl-video-playing .owl-video-tn,
    .owl-carousel .owl-video-playing .owl-video-play-icon {
        display: none;
    }
    
    .owl-carousel .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity 400ms ease;
    }
    
    .owl-carousel .owl-video-frame {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
    
    ////////Presentation suggestion moment
    .ftco-section {
        //padding: 7em 0;
        position: relative;
        z-index: 0;
    }
    
    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
        display: block;
    }
    
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    @media (min-width: 768px) {
        .col-md-9 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
    
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-lg-6,
    .col-md-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    @media (min-width: 768px) {
        .col-md-12 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }
    
    .ftco-animated {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .heading-section h2 {
        font-size: 30px;
        font-weight: 900;
    }
    
    .mb-4,
    .my-4 {
        margin-bottom: 1.5rem !important;
    }
    
    .heading-section h2 span {
        position: relative;
    }
    
    .heading-section h2 span:after {
        position: absolute;
        bottom: 7px;
        right: -12px;
        width: 10px;
        height: 10px;
        content: "";
        background: #ffd615;
    }
    
    @media (min-width: 992px) {
        .col-lg-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    
    @media (min-width: 768px) {
        .col-md-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    
    @media (max-width: 768px) {
        .card-info {
            font-size: small;
        }
    }
    
    .blog-entry {
        margin-bottom: 3em;
        width: 100%;
    }
    
    .blog-entry .img.img-big-2 {
        height: 500px;
    }
    
    .blog-entry .img.img-big {
        height: 390px;
        position: relative;
    }
    
    .blog-entry .img {
        height: 180px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }
    
    .img,
    .blog-img,
    .user-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .align-items-end {
        -webkit-box-align: end !important;
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }
    
    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    /*.img:hover {
    width: auto;
    height: 120px
}*/
    
    .blog-entry .img.img-big-2 .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0.7;
        background: rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -webkit-gradient( left top, left bottom, color-stop(17%, rgba(0, 0, 0, 0)), color-stop(27%, rgba(0, 0, 0, 0)), color-stop(100%, black));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(17%, rgba(0, 0, 0, 0)), color-stop(27%, rgba(0, 0, 0, 0)), to(black));
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
        background-color: rgba(0, 0, 0, 0.35);
    }
    
    .blog-entry .img.img-big .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0.5;
        background: rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -webkit-gradient( left top, left bottom, color-stop(17%, rgba(0, 0, 0, 0)), color-stop(27%, rgba(0, 0, 0, 0)), color-stop(100%, black));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(17%, rgba(0, 0, 0, 0)), color-stop(27%, rgba(0, 0, 0, 0)), to(black));
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 27%, black 100%);
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
        background-color: rgba(0, 0, 0, 0.35);
    }
    
    .blog-entry .img.img-big-2 .text {
        display: block;
        width: 100%;
        padding: 2em 3em 5em 3em;
        position: relative;
    }
    
    .blog-entry .img.img-big .text {
        display: block;
        width: 100%;
        padding: 2em 3em 15em 3em;
        position: relative;
        height: inherit;
    }
    
    .blog-entry .img.img-big-2 .text .subheading {
        color: white;
    }
    
    .blog-entry .img.img-big .text .subheading {
        color: white;
    }
    
    .mb-0,
    .my-0 {
        margin-bottom: 0 !important;
    }
    
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .blog-entry .img.img-big-2 .text .btn-custom {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 2em;
        background: #fff;
        color: #000000;
    }
    
    .blog-entry .img.img-big .text .btn-custom {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 2em;
        background: #fff;
        color: #000000;
    }
    
    a {
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
        //color: white;
    }
    
    a.img {
        color: #eeeeee;
        text-decoration: none;
        background-color: transparent;
    }
    
    .ml-4,
    .mx-4 {
        margin-left: 1.5rem !important;
    }
    
    @media (min-width: 768px) {
        .col-md-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    
    .sidebar-wrap {
        width: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.03);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }
    
    .pt-4,
    .py-4 {
        padding-top: 1.5rem !important;
    }
    
    .categories,
    .sidelink {
        padding: 0;
    }
    
    .sidebar-box {
        margin-bottom: 30px;
        font-size: 15px;
        width: 100%;
    }
    
    .sidebar-box .heading {
        font-size: 24px;
        font-weight: 900;
    }
    
    .sidebar-wrap .heading {
        font-size: 24px;
        font-weight: 900;
    }
    
    .category-image {
        padding: 0;
        margin: 0;
    }
    
    ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    categories li a,
    .sidelink li a {
        display: block;
        color: #1a1a1a;
    }
    
    .category-image li a {
        height: 140px;
    }
    
    .img,
    .blog-img,
    .user-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .text-center {
        text-align: center !important;
    }
    
    .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    
    .justify-content-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    
    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    
    .categories li,
    .sidelink li {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dee2e6;
        list-style: none;
    }
    
    .category-image li {
        list-style: none;
        margin: 0 0 10px 0 !important;
        padding: 0 !important;
        border-bottom: none !important;
    }
    
    ///CARD EFFECT
    .blog-entry {
        &:hover {
            .card-info {
                opacity: 1;
                bottom: 70px;
            }
        }
    }
    
    .card-info {
        color: white;
        width: 100%;
        position: absolute;
        //bottom: 100px;
        left: 0;
        margin: 0 auto;
        padding: 0 30px;
        font-style: 16px;
        //line-height: 24px;
        z-index: 20;
        opacity: 0;
        transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
        //font-size: small;
    }
    
    //présentation fonctionnalités
    .welcome-clip {
        height: 571.64px;
        background-color: #cea0af;
        display: flex;
        justify-content: space-between;
    }
    
    #listeCourses {
        background-color: inherit;
    }
    
    .page-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0px 100px;
    }
    
    .special-text {
        color: white;
    }
    
    .list-text {
        color: #cea0af;
    }
    
    .girl {
        padding-top: 6em;
        padding-left: 1px;
        padding-right: 5em;
        padding-bottom: 5em;
    }
    
    .outer-line.line-left {
        width: 10%;
    }
    
    .outer-line {
        border: 1px solid #00000029;
        height: 0px;
    }
    
    .outer-line.line-right {
        width: 50%;
    }
    
    .new-divider {
        position: relative;
        text-align: left;
    }