#header { 
    text-align: center;
}


#zone{
    width: 10 em;
}

#question{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.flex-container {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

#btn{
    margin-top: 1em;
    float: right;
}

#rech{
    margin-bottom: 2em;
    width: 15em;
}