<div id="header">
    <h1>Unités</h1>
    
  </div>  
  
  
  <div class='flex-container'>
    
    <div>
      <form class="form-inline my-2 my-lg-0">
        <input id="rech" class="form-control mr-sm-" type="search" placeholder="Rechercher une unité" aria-label="Search" [formControl]="filter">
        </form>
      <table class="table col-md-8 mx-auto" *ngFor="let unite of filteredUnite$ | async">
      
          <tr>
              <td>
                <form (submit)="updateUnite(unite)">
                <input id="zone" type="text" class="form-control" name="libelleUnite"  value= {{unite.libelleUnite}}
                    [(ngModel)]="unite.libelleUnite">
              <td>
                <button id="btn" class="btn btn-outline-warning" type="submit">Modifier</button>
              </td>
              <td>
                <button id="btn" class="btn btn-outline-danger " (click)="deleteUnite(unite.idUnite)" >Supprimer</button>
                </form>
              </td>
            </tr> 
      </table>
    </div>
    <div >
      <h6 id="question" > Ajouter une nouvelle unité </h6>
      <form (submit)="addUnite()">
        <input type="text" class="form-control" name="libelleUnite"  placeholder="libelle unité"
                          [(ngModel)]="unite.libelleUnite">
  
        <button id="btn" class="btn btn-outline-info" type="submit">Valider</button>
        
        </form>
    </div>
  </div>
  
