#titre {
    text-align: center;
}

#menu {
    margin-top: 5em;
}

#poubelle {
    float: right;
}

// FONT
$font: 'Roboto',
sans-serif;
// COLORS
$white: #fff;
$black: #212129;
$gray: #9B9B9B;
$heart: #C2567F;
$button: #154360;

/** {
    margin: 0;
    padding: 0;
    font-family: $font;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}*/

#btn {
    background: transparent;
    border: none;
}

img {
    max-width: 100%;
}

i {
    display: -webkit-inline-box;
}

.card {
    position: relative;
    background: $white;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
    .header,
    #photo {
        min-height: 100%;
        .icon a .fa-heart {
            position: absolute;
            left: 85%;
            bottom: 30.7%;
            background: $heart;
            color: $white;
            font-size: 1.3em;
            font-weight: bold;
            padding: 15px;
            border-radius: 50%;
            box-shadow: 0px 5px 30px 1px $heart;
        }
    }
    .text {
        .food {
            color: $black;
            text-align: left;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin: 5px 30px;
        }
        .fa-clock-o,
        .fa-users,
        #coeur,
        #vue {
            color: $gray;
            margin: 0 10px;
        }
    }
    a.btn {
        display: block;
        background: $button;
        color: $white;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 10px;
        transition: 250ms;
        &:hover {
            background: $heart;
            transition: 250ms;
        }
    }
}