<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!--lien pour avoir le petit logo de poubelle-->

<div id="titre">
    <h1>Mes recettes ♥</h1>
</div>

<ul id="menu" class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/favorites" (click)="getFavoris()">Tous mes favoris</a>
    </li>
    <li class="nav-item" *ngFor="let categ of categories">
        <a class="nav-link" routerLink="/favorites"
            (click)="getFavorisByCategory(categ.idCategorie)">{{categ.libelleCategorie}}</a>
    </li>
</ul>

<br>

<ul class="nav justify-content-center">
    <li>
        <form class="form-inline" [formGroup]="researchForm" (ngSubmit)="research()">
            <div class="col text-center">
                <input class="form-control" type="search" placeholder="Recette, ingrédient.." aria-label="Search"
                    formControlName="filter" (click)="ngOnChanges()">
            </div>

            <div class="col text-center">
                <button id="validateButton" type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </form>
    </li>
</ul>

<br>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3" *ngFor="let recette of allRecipe">
        <!--Pour chaque recette on représente sa carte-->
        <div class="card">
            <div class="header">
                <img id="photo" src="{{recette.lienImage}}" alt="Photo de la recette">
                <div class="icon">
                    <a id="btn" type="button" class="btn btn-outline-danger" (click)="deleteFavoris(recette.idRecette)">
                        <i class="fa fa-heart"></i></a>
                </div>
            </div>
            <div class="text">
                <h3 class="food">
                    {{recette.nomRecette}}
                </h3>
                <i class="fa fa-clock-o"> {{recette.globalTime}}</i>
                <i class="fa fa-users"> {{recette.nbrePart}} {{recette.libellePart}}</i>
                <i id="coeur"> {{recette?.nbFavoris}} ♥ </i>
                <i id="vue">{{recette?.nbVues}} 👁</i>
                <br>

            </div>
            <a (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]" class="btn">Voir la
                recette!</a>
        </div>
    </div>
</div>