<section class="contact pt-100 pb-100" id="contact">
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
                <h1 class="h3 mb-3 font-weight-normal">Modifier mon mot de passe</h1>
                
                <div class="form-group">
                    <label>Ancien mot de passe</label>
                    <input type="password" class="form-control" name="mdp" placeholder="****" formControlName="mdp">
                </div>
                <div class="form-group">
                    <label>Nouveau mot de passe</label>
                    <input type="password" class="form-control" name="newmdp" placeholder="****" formControlName="newmdp">
                </div>
                <div class="form-group">
                    <label>Confirmer le nouveaau mot de passe</label>
                    <input type="password" class="form-control" name="mdp2" placeholder="****" formControlName="mdp2">
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-info" type="submit">Enregistrer</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
</section>