
<div class="header">
    <h2 id="header">{{recette.nomRecette}}</h2>
    <img src="//via.placeholder.com/350x150" class="mx-auto d-block" alt="Responsive image" >
</div>




<div id="conteneur">
    <div class="element 1 card border-secondary mb-3">
        <div class="card-header">Ingrédients</div>
        <div class="card-body text-secondary">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="element 2">
        Préparation
    </div>
</div>