pre {
    text-align: center;
    white-space:pre-wrap;
    overflow-x:auto;
    margin-right: 1em;
    margin-top: 15%;
}
h1 {
    text-align: center;
}
code {
    display: block;
    padding: 12px;
    color: rgb(0, 0, 0);
    background:#f5f5f5;
   }