
<div class="media">
    <img src="../../assets/img/me.jpeg" class="align-self-center mr-3" width="500px" height="auto" alt="...">
    <div class="media-body">
      <h1 class="mt-0">A propos</h1>
      <pre class="mb-0"><code>
        Je m'appelle Marine.
        J'ai 21 printemps, et j'étudie dans une école d'ingénieur. 
        Depuis mon plus jeune âge, j'adore cuisiner. 
        J'ai créé ce site afin de partager les recettes que j'aime réaliser au quotidien.
   
        Vous avez accès à toutes les recettes sans être connecté !

        Créer un compte vous permettra de mettre des recettes en favoris et de les retrouver plus facilement.
        Vous pourrez aussi créer une liste de course directement à partir des recettes. 
        Si vous le souhaitez, des notifications par mail peuvent vous avertir de l'arrivée d'une nouvelle recette afin de ne rien rater.
      </code></pre>
    </div>
  </div>
