pre {
    text-align: center;
    white-space:pre-wrap;
    overflow-x:auto;
  
    display: block;
    padding: 12px;
    color: rgb(0, 0, 0);
    background:#f5f5f5;
}
h1 {
    text-align: center;
    margin-bottom: 5%;
}

#conteneur
{
    display: flex;
    flex-wrap: wrap;
    align-items: center
   
}
.element:nth-child(1)
{
    display: block;
    width: auto;
}
.element:nth-child(2)
{
    display: block;
    width: auto;
}