<div id="modal-content-wrapper">
  <header id="modal-header">
    <h1 id="modal-title">Filtrer les recettes</h1>
  </header>
  <section id="modal-body" style="display: flex; flex-flow: wrap;">
    <div style="margin-right: 4em;">
      <p style="font-size: larger; font-weight: bold;">Catégories :</p>
      <section
        class="example-section"
        *ngFor="let categ of modalData.categories"
      >
        <mat-checkbox
          (click)="clickCheckbox('one')"
          class="example-margin"
          [(ngModel)]="categ.checked"
          >{{ categ.libelleCategorie }}</mat-checkbox
        >
      </section>
      <mat-checkbox
        (click)="clickCheckbox('all')"
        class="example-margin"
        [(ngModel)]="modalData.checked"
      >
        Toutes les catégories
      </mat-checkbox>
    </div>

    <div style="margin-right: 4em;">
      <p style="font-size: larger; font-weight: bold;">Temps :</p>
      <section class="example-section" *ngFor="let time of modalData.times">
        <mat-checkbox
          (click)="clickCheckbox()"
          class="example-margin"
          [(ngModel)]="time.filter"
          >{{ time.libelle }}</mat-checkbox
        >
      </section>
    </div>

    <div style="margin-right: 4em;">
      <p style="font-size: larger; font-weight: bold;">Popularité :</p>
      <section class="example-section">
        <mat-checkbox
          (click)="clickCheckbox('populaire')"
          class="example-margin"
          [(ngModel)]="modalData.populaire"
          [checked]="modalData.populaire"
          >Les plus populaires</mat-checkbox
        >
      </section>
      <section class="example-section">
        <mat-checkbox
          (click)="clickCheckbox('recent')"
          class="example-margin"
          [(ngModel)]="modalData.recent"
          [checked]="modalData.recent"
          >Les plus récentes</mat-checkbox
        >
      </section>
    </div>
  </section>
  <footer id="modal-footer">
    <button
      mat-raised-button
      id="modal-action-button"
      type="button"
      class="btn btn-success"
      (click)="actionFunction()"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-raised-button
      id="modal-action-button"
      type="button"
      class="btn btn-primary"
      (click)="reset()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
    <button
      mat-raised-button
      id="modal-cancel-button"
      type="button"
      class="btn btn-danger"
      (click)="closeModal()"
    >
      <mat-icon color="white">close</mat-icon>
    </button>
  </footer>
</div>
