#modal-content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  color: white;
}

#modal-title {
  font-size: 22px;
}

#modal-footer {
  justify-self: right;
  align-self: center;
}

#modal-action-button {
  margin: 10px;
  color: white;
  min-width: 0 !important;
}

#modal-cancel-button {
  margin: 10px;
  color: white;
  min-width: 0 !important;
}
