<article id="burger-fourth">

    <h2>Mes commentaires</h2>

    <div class="comment-container theme--light">
        <div class="comments">
            <div class="card v-card v-sheet theme--light elevation-2" *ngFor="let commentaire of commentaires">
                <div class="header">
                    <div *ngIf="!auth.isAdmin()" class="v-avatar avatar" style="height: 50px; width: 50px;"><img src="../../../assets/img/avatar.png"></div>
                    <div *ngIf="auth.isAdmin()" class="v-avatar avatar" style="height: 50px; width: 50px;"><img src="../../../assets/img/logo.jpeg"></div>
                    <span class="displayName title"><a routerLink="/recipe/{{commentaire.concerne}}">{{commentaire.nomRecette}}</a></span> <span class="displayName caption">{{commentaire.dateCommentaire}}</span></div>
                <!---->
                <div class="wrapper comment">
                    <p>{{commentaire.message}} ecrire dans un imput pour modifier
                    </p>
                </div>
                <div class="actions">
                    <!--<button id="btn" class="btn btn-sm btn-danger" (click)="deleteCommentaire(commentaire.idCommentaire)"><i class=" fa fa-trash "></i></button> mettre un bouton modifier
                   -->
                    <!---->
                    <!---->
                </div>
                <div class="v-dialog__container" style="display: block;"></div>
            </div>
            <!---->
            <div class="answers">

                <!---->
            </div>
        </div>
        <div>

        </div>

    </div>

</article>