<div class="media">
    <img src="../../assets/img/AroundMyWorld.jpeg" class="img-fluid" alt="Image Around my world, eat good feel good">
</div>

<h5>Les plus vues</h5>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 p-3"  *ngFor="let recette of this.mostPopularRecipes"> <!--Pour chaque recette on représente sa carte-->
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="//via.placeholder.com/350x150" alt="Photo de la recette"><!--mettre image ici-->
                <div class="card-body">
                    <h4 class="card-title">{{recette.nomRecette}}</h4>
                    <span class="badge badge-light">{{recette.nbFavoris}} ♥</span>
                    <span class="badge badge-light">{{recette.nbVues}} 👁</span>
                </div>
                <div class="card-footer text-center bg-white">
                    <button class="btn btn-outline-secondary" (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]">Voir la recette</button> 
                    
            </div>
        </div>
    </div>
</div>


<h5>Les Nouveautés</h5>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 p-3"  *ngFor="let recette of this.latestRecipes"> <!--Pour chaque recette on représente sa carte-->
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="//via.placeholder.com/350x150" alt="Photo de la recette"><!--mettre image ici-->
                <div class="card-body">
                    <h4 class="card-title">{{recette.nomRecette}}</h4>
                    <span class="badge badge-light">{{recette.nbFavoris}} ♥</span>
                    <span class="badge badge-light">{{recette.nbVues}} 👁</span>
                </div>
                <div class="card-footer text-center bg-white">
                    <button class="btn btn-outline-secondary" (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]">Voir la recette</button> 
                    
            </div>
        </div>
    </div>
</div>