<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var from,to,subject,text;
	$("#send_email").click(function(){	
        pseudo=$("#pseudo").val();	
		to=$("#to").val();		
		$("#message").text("Sending E-mail...Please wait");
		$.get("http://localhost:3000/server/sendEmail",{to:to, pseudo:pseudo},function(data){
		if(data=="sent")
		{
			$("#message").empty().html("<p>Email is been sent at "+to+" . Please check inbox !</p>");
		}

});
	});
});
</script>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form class="example-form" [formGroup]="userForm" (ngSubmit)="register()" data-toggle="validator" role="form">
                <!-- Submitting will start this method -->
                <div class="form-group">
                    <label>Pseudo *</label>
                    <input id="pseudo" type="text" class="form-control" formControlName="pseudo" placeholder="pseudo" required>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="control-label">Email *</label>
                    <input id="to" type="email" class="form-control" formControlName="email"
                        placeholder="nom.prenom@exemple.com" id="inputEmail"
                        required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        data-error="Bruh, that email address is invalid">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label>Mot de passe *</label>
                    <input type="password" class="form-control" formControlName="mdp" placeholder="****" required>
                </div>

                <div class="form-group">
                    <label>Confirmer le mot de passe *</label>
                    <input type="password" class="form-control" formControlName="mdp2" placeholder="****" required>
                </div>


                <div class="form-group">
                    <label>Voulez vous recevoir un email lorsqu'une nouvelle recette est publiée ?</label>
                    <br>
                    <input type="radio" formControlName="abonneNews" value="true" checked> Oui
                    <input type="radio" formControlName="abonneNews" value="false"> Non
                </div>
                <button id="send_email" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="userForm.invalid">Créer mon compte</button>
                <br>
                <p>* Champs obligatoires.</p>

            </form>
        </div>
    </div>
</div>