<header class="site-header">

    <div class="header-content">

        <div class="title-area">

            <h1>{{recette?.nomRecette}}</h1>
            <p id="timer">{{recette?.nbVues}} 👁 {{recette?.nbFavoris}}<svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
              </svg>
            </p>
            <h2></h2>

            <p id="timer">
                <img src="../../../assets/img/preparation.png" width="50em" height="50em"> {{recette?.tempsPreparation}}

                <img src="../../../assets/img/cuisson.png" width="50em" height="50em"> {{recette?.tempsCuisson}}

            </p>
            <p>
                <button *ngIf="this.auth.isLoggedIn()" id="btn" type="button" class="btn btn-outline-danger" (click)="addFavoris()">♥ Ajouter la recettes à mes favoris</button> </p>



        </div>

        <div>
            <div>
        <!-- Facebook -->
               <a target="_blank" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://marinesrecipes.fr/recipe/106" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="../../../assets/Social_Icons/facebook.png" alt="Facebook" /></a>
        <!-- //Facebook -->
         
        <!-- Twitter -->
                <a target="_blank" title="Twitter" href="https://twitter.com/share?url=https://bit.ly/2sI7H3v" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><img src="../../../assets/Social_Icons/twitter.png" alt="Twitter" /></a>
        <!-- //Twitter -->
         
        <!-- Google + -->
                <a target="_blank" title="Google +" href="https://plus.google.com/share?url=https://tontonduweb.com/previews-warc/genieCivil/article1.html" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><img src="../../../assets/Social_Icons/g+.png" alt="Google Plus" /></a>
        <!-- //Google + -->
         
        <!-- Linkedin -->
                <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://tontonduweb.com/previews-warc/genieCivil/article1.html" rel="nofollow" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><img src="../../../assets/Social_Icons/linkedin.png" alt="Linkedin" /></a>
        <!-- //Linkedin -->
         
        <!-- Email -->
                <a target="_blank" title="Envoyer par mail" href="mailto:?Subject=Regarde ça c'est cool !&amp;Body=regarde%20cet%20article%20c'est%20super !%20 https://tontonduweb.com/previews-warc/genieCivil/article1.html" rel="nofollow"><img src="../../../assets/Social_Icons/Instagram.png" alt="email" /></a>
        <!-- //Email -->
            </div>
        </div>

    </div>

    <div class="hero-graphic" *ngFor="let img of image">
        <img id="hero-graphic" src="{{img.lienImage}}" alt="Photo de la recette">


        <!-- always, right? -->
    </div>

</header>

<main class="main-content">

    <article id="hamburger-juicy">

        <h2>Ingrédients pour {{recette?.nbrePart}} {{recette?.libellePart}}</h2>

        <p>

            <li *ngFor="let ingredient of ingredients" class="card-text">
                {{ingredient.qte}} {{ingredient.libelleUnite}} {{ingredient.nomIngredient}}
            </li>

        </p>
        <p> <button *ngIf="this.auth.isLoggedIn()" id="btn" type="button" class="btn btn-outline-info" (click)="addListeCourses()">Ajouter les ingrédients à ma liste de course</button></p>

    </article>

    <article id="burger-fourth">

        <h2>Préparation </h2>

        <pre>{{recette?.etapes}}</pre>

    </article>

    <article id="hamburger-juicy">

        <h2>Astuces</h2>

        <pre>{{recette?.astuce}}</pre>
        <div class="byline" *ngIf="recette?.astuce">
            <span>By</span> Marine
        </div>
        <div id="partage">

            <p> <i class="fa fa-lg fa-instagram"></i> Partagez moi votre résultat 😍 Mentionnez <a href="https://www.instagram.com/marineteroitin/?hl=fr">@marineteroitin</a> ou taguez <a href="https://www.instagram.com/explore/tags/marinesrecipes/?hl=fr"> #marinesrecipes</a>!</p>
        </div>

    </article>

    <article id="burger-fourth">

        <h2>Commentaires</h2>

        <div class="comment-container theme--light">
            <div class="comments">
                <div *ngIf="auth.isLoggedIn()" class="card v-card v-sheet theme--light elevation-2"><span class="headline">Laisser un commentaire</span>
                    <div class="sign-in-wrapper">
                        <p class="caption disclaimer">
                            <textarea class="form-control" #message="ngModel" [(ngModel)]="newCommentaire.message" [ngModelOptions]="{standalone: true}" id="exampleFormControlTextarea1" rows="8" required></textarea>
                        </p>
                        <p class="error-message"></p>
                        <button id="envoyer" (click)="addCommentaire(newCommentaire.message)">Envoyer</button>
                    </div>
                    <!---->
                </div>
                <div>
                    <div class="card v-card v-sheet theme--light elevation-2" *ngFor="let commentaire of commentaires">
                        <div class="header">
                            <div *ngIf="!commentaire.admin" class="v-avatar avatar" style="height: 50px; width: 50px;"><img src="../../../assets/img/avatar.png"></div>
                            <div *ngIf="commentaire.admin" class="v-avatar avatar" style="height: 2.5em; width: 3.5em;"><img src="../../../assets/img/logo.jpeg"></div>
                            <span class="displayName title">{{commentaire.ecritPar}}</span> <span class="displayName caption">{{commentaire.dateCommentaire}}</span></div>
                        <!---->
                        <div class="wrapper comment">
                            <p>{{commentaire.message}}</p>
                        </div>
                        <div class="actions">
                            <button id="btn" *ngIf="auth.isAdmin()" class="btn btn-sm btn-danger" (click)="deleteCommentaire(commentaire.idCommentaire)"><i class=" fa fa-trash "></i></button>

                            <!---->
                            <!---->
                            <!---->
                        </div>
                        <div class="v-dialog__container" style="display: block;"></div>
                    </div>
                    <!---->
                    <div class="answers">

                        <!---->
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>

    </article>

</main>