<div id="titre">
    <h2>{{recette?.nomRecette}}</h2>
  
    <figure class="figure" *ngFor="let img of image">
        <img src="{{img.lienImage}}" class="rounded mx-auto d-block"  alt="Responsive image" id="resp">
       <figcaption class="figure-caption center" id="resp">
            <span class="badge badge-light" id="vew">{{recette?.nbVues}} 👁</span>
            
            <span class="badge badge-light" id="fav">{{recette?.nbFavoris}} ♥</span>
        </figcaption>
      
    </figure>
</div>

<div id="conteneur">
    <div class="element 1">
        <div id="card" class="element 1 card border-secondary mb-3 col-lg-4 col-md-4 col-sm-4 p-3">
            <div class="card-header">Ingrédients</div>
            <ul> <!--liste points-->
                <div class="card-body text-secondary" id="ing">
                    <li *ngFor="let ingredient of ingredients" class="card-text">
                        {{ingredient.qte}}
                        {{ingredient.libelleUnite}}
                        {{ingredient.nomIngredient}}
                    </li>
                </div>
            </ul>
        </div>
        <!--bouttons visibles que si on est inscrit-->
    <button *ngIf="this.auth.isLoggedIn()" id="btn" type="button" class="btn btn-outline-info" (click)="addListeCourses()">Ajouter les ingrédients à ma liste de course</button>
    <button *ngIf="this.auth.isLoggedIn()" id="btn" type="button" class="btn btn-outline-danger" (click)="addFavoris()">♥ Ajouter le recettes à mes favoris</button>
    </div>
    <div class="element 2 card border-secondary mb-3 col-lg-8 col-md-8 col-sm-8">
        <div class="card-header">Préparation</div>
        <div class="card-body text-secondary center">
            <pre style="line-height: 2.5" class="card-text"> {{recette?.etapes}}</pre>
        </div>
    </div>
</div>