#logo {
    width: 6em;
    height: 4em;
    font-size: 1.5em;
}

* {
    font-family: "proxima_nova_rgregular";
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

footer {
    position: inherit;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    font-size: 25px;
}
/* footer */

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-envelope:hover {
    background: #FF5733;
}

#message {
    padding-left: 1em;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    margin-bottom: 1em;
    /*espace insta et copyright */
}

.dark-line {
    /*margin-top: 5em;*/
    background: rgba(0, 0, 0, .15);
    padding: 50px 0;
    margin-left: -2px;
    text-align: center;
}

#ment {
    color: black;
}

@import url(//db.onlinewebfonts.com/c/ca42b7ce0d708ee0817789585c449739?family=PeachesandCreamRegularW00);

@font-face {font-family: "PeachesandCreamRegularW00"; src: url("//db.onlinewebfonts.com/t/ca42b7ce0d708ee0817789585c449739.eot"); src: url("//db.onlinewebfonts.com/t/ca42b7ce0d708ee0817789585c449739.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ca42b7ce0d708ee0817789585c449739.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ca42b7ce0d708ee0817789585c449739.woff") format("woff"), url("//db.onlinewebfonts.com/t/ca42b7ce0d708ee0817789585c449739.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ca42b7ce0d708ee0817789585c449739.svg#PeachesandCreamRegularW00") format("svg"); }

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}