<ul id="menu" class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/allRecipes" (click)="getAllRecipes()">Toutes les recettes</a>
    </li>

    <li class="nav-item" *ngFor="let categ of categories">
        <a class="nav-link" routerLink="/allRecipes" (click)="getRecipeByCategory(categ.idCategorie)">{{categ.libelleCategorie}}</a>
    </li>
    <li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search" [formControl]="filter">
        </form>
    </li>
</ul>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3" *ngFor="let recette of filteredRecipe$ | async">
        <!--Pour chaque recette on représente sa carte-->
        <div class="card">
            <div class="header">
                <img id="photo" src="{{recette.lienImage}}" alt="Photo de la recette">
                <div class="icon">
                    <a *ngIf="this.auth.isLoggedIn()" id="btn" type="button" class="btn btn-outline-danger" (click)="addFavoris(recette?.idRecette)"> <i class="fa fa-heart-o"></i></a>
                </div>
            </div>
            <div class="text">
                <h3 class="food">
                    {{recette.nomRecette}}
                </h3>
                <i class="fa fa-clock-o"> {{recette.globalTime}}</i>
                <i class="fa fa-users"> {{recette.nbrePart}} {{recette.libellePart}}</i>
                <i id="coeur"> {{recette?.nbFavoris}} ♥  </i>
                <i id="vue">{{recette?.nbVues}} 👁</i>
                <br>
            </div>
            <a (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]" class="btn">Voir la recette!</a>
        </div>
    </div>
</div>