<ul id="menu" class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/allRecipes" (click)="getAllRecipes()">Toutes les recettes</a>
    </li>
    <li class="nav-item" *ngFor="let categ of categories">
      <a class="nav-link" routerLink="/allRecipes" (click)="getRecipeByCategory(categ.idCategorie)">{{categ.libelleCategorie}}</a>
    </li>
    <li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search" [formControl]="filter">
      </form>
    </li>
  </ul>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 p-3"  *ngFor="let recette of filteredRecipe$ | async"> <!--Pour chaque recette on représente sa carte-->
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="{{recette.lienImage}}" alt="Photo de la recette"> 
                    <div class="card-body">
                        <h4 class="card-title">{{recette.nomRecette}}</h4>
                        <span class="badge badge-light" id="fav">{{recette?.nbFavoris}} 
                          <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                       </svg>
                     </span>
                     <span class="badge badge-light" id="view" >{{recette?.nbVues}} 👁</span>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <button class="btn btn-outline-secondary" (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]">Voir la recette</button> 
                        
                </div>
            </div>
        </div>
    </div>
