<h1> Cette fonctionnalité n'est pas encore disponible</h1>
<!-- test ajout photo
<div class="container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <form method="post" [routerLink]="['/recipe', recette.idRecette]"action="/upload" enctype="multipart/form-data">

        <div class="form-group">
            <label for="photo_produit">Photo</label> :
            <input type="file" name="photo_produit" multiple>
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary btn-dr" value="Créer le produit">
        </div>
    </form>
</div>
<br>
-->