<main class="page-row page-row-expanded">
  <div class="main-inner">
    <div class="item1 container">
      <div class="element1">
        <aside class="sidebar is-visible">
          <div class="”sidebar-content”">
            <ul>
              <li class="active">
                <a id="nav" href="/handleRecipes">Gérer les recettes</a>
              </li>
              <li><a id="nav" href="/ingredient">Ingrédients</a></li>
              <li><a id="nav" href="/category">Catégories</a></li>
              <li><a id="nav" href="/unite">Unités</a></li>
              <li><a id="nav" href="/handleMenu">Gérer les suggestions</a></li>
              <li>
                <a id="nav" href="/add-recipe">Créer une nouvelle recette</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <div class="item2 container">
      <div class="element2 row">
        <section class="page">
          <div class="container">
            <div id="titre">
              <h1>Gérer les recettes</h1>
            </div>

            <div class="col text-center has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input
                class="form-control"
                style="box-shadow: none;"
                type="search"
                placeholder="Rechercher un ingrédient"
                aria-label="Search"
                [(ngModel)]="searchTerm"
                (ngModelChange)="onSearchTermChange()"
              />
            </div>

            <div class="app">
              <div class="recipesWrapper row">
                <div
                  class="recipeDiv text-center col-sm-4"
                  *ngFor="
                    let recette of recettes$
                      | async
                      | paginate
                        : {
                            id: 'listing_pagination',
                            itemsPerPage: 9,
                            currentPage: currentPage
                          }
                  "
                >
                  <img class="rounded-circle" src="{{ recette.lienImage }}" />
                  <h3>{{ recette.nomRecette }}</h3>

                  <i class="badge badge-light"></i> {{ recette.nbVues }} 👁

                  <i class="badge badge-light"></i>{{ recette.nbFavoris }}
                  <svg
                    class="bi bi-heart-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    fill="red"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                      clip-rule="evenodd"
                    />
                  </svg>

                  <div class="controlBtns">
                    <button
                      class="editBtn btn btn-warning"
                      [routerLink]="['/updateRecipe', recette.idRecette]"
                    >
                      <i class="fa fa-pencil" aria-hidden="true"> </i>
                    </button>

                    <button
                      class="deleteBtn btn btn-danger"
                      (click)="deleteRecipe(recette.idRecette)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"> </i>
                    </button>
                  </div>
                </div>
              </div>

              <div id="paginationRecette" #scrollContainer>
                <pagination-controls
                  id="listing_pagination"
                  (pageChange)="onPageChange($event)"
                  previousLabel="Précédent"
                  nextLabel="Suivant"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
