<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!--lien pour avoir le petit logo de poubelle-->

<form (submit)="updateNomRecette(recette)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <input id="zone" type="text" class="form-control" name="nomRecette" value="{{recette.nomRecette}}"
                    #nomRecette="ngModel" [(ngModel)]="recette.nomRecette">
            </div>
            <div class="col">
                <button class="btn btn-outline-warning" type="submit">Modifier</button>
            </div>
        </div>
    </div>
</form>

<div id="photo">
    <figure class="figure">
        <img src="//via.placeholder.com/782x250" class="rounded mx-auto d-block" alt="Responsive image" id="resp">
        <figcaption class="figure-caption">
            <!--bouton modifier photo-->
        </figcaption>



    </figure>

    <!--afficher la/ les catégorie-->
    <div id="categ">
        catégories:
        <li *ngFor="let categorie of categories">
            {{categorie.libelleCategorie}}
        </li>
    </div>
    <div id="conteneur">
        <div class="element 1">
            <div id="card" class="element 1 card border-secondary mb-3 col-lg-4 col-md-4 col-sm-4 p-3">
                <div class="card-header">Ingrédients</div>
                <ul>
                    <div class="card-body text-secondary" id="ing">
                        <li *ngFor="let ingredient of ingredients" class="card-text">
                            {{ingredient.qte}}
                            {{ingredient.libelleUnite}}
                            {{ingredient.nomIngredient}}
                            <button id="poubelle" class="btn btn-sm btn-danger" (click)=deleteIngredientRececipe(ingredient,recette)><i class="fa fa-trash"></i></button> 
                        </li>
                    </div>
                </ul>
            </div>


        </div>
        <div class="element 2 card border-secondary mb-3 col-lg-8 col-md-8 col-sm-8">
            <div class="card-header">Préparation</div>
            <div class="card-body text-secondary center">
              
                    <form (submit)="updateEtapes(recette)">
                    <textarea class="form-control" #etapes="ngModel" rows="15em"  name="etapes"
                    [(ngModel)]="recette.etapes"  value=" {{recette?.etapes}}"></textarea>
                
                    <button id="btn" class="btn btn-outline-warning" type="submit">Modifier</button>
                    </form>
