<main class="page-row page-row-expanded">
    <div class="main-inner container">
        <div class="item1">
            <div class="element1">
                <aside class="sidebar is-visible">
                    <div class=”sidebar-content”>
                        <ul>
                            <li class="active"><a id="nav" href="/handleRecipes">Gérer les recettes</a></li>
                            <li><a id="nav" href="/ingredient">Ingrédients</a></li>
                            <li><a id="nav" href="/category">Catégories</a></li>
                            <li><a id="nav" href="/unite">Unités</a></li>
                            <li><a id="nav" href="/add-recipe">Créer une nouvelle recette</a></li>
                            <li>
                                <form id="nav" class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Recherche"
                                        aria-label="Search" [formControl]="filter">
                                </form>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        <div class="item2">
            <div class="element2">
                <section class="page">
                    <div class="container">
                        <div id="titre">
                            <h1>Gerer les recettes</h1>
                        </div>
                        <div id="titre">
                            <h3>Recettes publiées</h3>
                        </div>











                        <div class="row mb-3" *ngFor="let recette of filteredRecipe$ | async">
                            <div class="col-sm-3"></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="d-flex flex-row border rounded">
                                    <div class="p-0 w-25">
                                        <img src="{{recette.lienImage}}" class="img-thumbnail border-0"
                                            alt="photo de la recette" />

                                    </div>
                                    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">

                                        <h5 class="text">{{recette.nomRecette}}</h5>
                                        <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                            <li><i class="badge badge-light"></i>{{recette.nbFavoris}}
                                                <svg class="bi bi-heart-fill" width="1em" height="1em"
                                                    viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                                                        clip-rule="evenodd" />
                                                </svg></li>
                                            <li><i class="badge badge-light"></i> {{recette.nbVues}} 👁</li>
                                        </ul>

                                        <button id="crayon" type="submit" class="btn btn-sm btn-warning"
                                            [routerLink]="['/updateRecipe', recette.idRecette]"><i
                                                class="fa fa-pencil"></i></button>

                                        <button id="poubelle" type="submit" class="btn btn-sm btn-danger"
                                            (click)="deleteRecipe(recette.idRecette)"><i
                                                class="fa fa-trash"></i></button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>