<h1 class="mt-5">A propos</h1>
<div id="conteneur">
  <div class="element 1 mb-3 col-lg-6 col-md-6 col-sm-6 p-3">
    <img src="../../assets/img/me.jpeg" class="img-fluid" width="auto" height="auto" alt="photo de l'auteur du site.">
  </div>
  <div class="element 2 mb-3 col-lg-6 col-md-6 col-sm-6">
    <div id="conteneur1">
      <p id="c1" class="mb-0">
        <ul>
          <li> Je m'appelle Marine.</li>
          <li> J'ai 21 printemps, et j'étudie dans une école d'ingénieur. </li>
          <li> Depuis mon plus jeune âge, j'adore cuisiner. </li>
          <li>J'ai créé ce site afin de partager les recettes que j'aime réaliser au quotidien.</li>
        </ul>
    
      <p id="c2" class="mb-0">
        <ul>
          <li> Vous avez accès à toutes les recettes sans être connecté !</li>
       <li>Créer un compte vous permettra de mettre des recettes en favoris et de les retrouver plus facilement.
        Vous pourrez aussi créer une liste de course directement à partir des recettes.
        Si vous le souhaitez, des notifications par mail peuvent vous avertir de l'arrivée d'une nouvelle recette afin
        de ne rien rater.</li>
      </ul>
      
    </div>
  </div>
</div>
