<main class="page-row page-row-expanded">
    <div class="main-inner">
        <div class="item1 container">
            <div class="element1">
                <aside id="aside" class="sidebar is-visible">
                    <div class="”sidebar-content”">
                        <ul>
                            <li><a id="nav" href="/handleRecipes">Gérer les recettes</a></li>
                            <li><a id="nav" href="/ingredient">Ingrédients</a></li>
                            <li><a id="nav" href="/category">Catégories</a></li>
                            <li><a id="nav" href="/unite">Unités</a></li>
                            <li class="active">
                                <a id="nav" href="/handleMenu">Gérer le menu</a>
                            </li>
                            <li>
                                <a id="nav" href="/add-recipe">Créer une nouvelle recette</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        <div class="item2 container">
            <div class="element2">
                <section class="page">
                    <div class="container">
                        <div id="titre">
                            <h1>Gérer les suggestions du moment</h1>
                        </div>

                        <div class="flex-container">
                            <form (submit)="updateMenu(petitDej, repas, douceur)">
                                <div class="row" *ngIf="petitDej">
                                    <div class="col col-sm-6">
                                        Petit déjeuner :
                                    </div>
                                    <div class="col col-sm-6">
                                        <input id="answerInput" list="brow" [(ngModel)]="petitDej.nomRecette" [ngModelOptions]="{ standalone: true }" />
                                        <datalist id="brow">
                      <option
                        *ngFor="let recette of allRecipes"
                        [attr.selected]="
                          recette.nomRecette == petitDej.nomRecette
                            ? true
                            : null
                        "
                        [attr.value]="recette.nomRecette"
                      >
                        {{ recette.nomRecette }}</option
                      >
                    </datalist>
                                        <input type="hidden" name="answer" id="answerInput-hidden" />
                                    </div>
                                </div>
                                <hr>
                                <div class="row" *ngIf="repas">
                                    <div class="col col-sm-6">
                                        Repas :
                                    </div>
                                    <div class="col col-sm-6">
                                        <input id="answerInput" list="brow" [(ngModel)]="repas.nomRecette" [ngModelOptions]="{ standalone: true }" />
                                        <datalist id="brow">
                      <option
                        *ngFor="let recette of allRecipes"
                        [attr.selected]="
                          recette.nomRecette == repas.nomRecette ? true : null
                        "
                        [attr.value]="recette.nomRecette"
                      >
                        {{ recette.nomRecette }}</option
                      >
                    </datalist>
                                        <input type="hidden" name="answer" id="answerInput-hidden" />
                                    </div>
                                </div>
                                <hr>
                                <div class="row" *ngIf="douceur">
                                    <div class="col col-sm-6">
                                        Douceur :
                                    </div>
                                    <div class="col col-sm-6">
                                        <input id="answerInput" list="brow" [(ngModel)]="douceur.nomRecette" [ngModelOptions]="{ standalone: true }" />
                                        <datalist id="brow">
                      <option
                        *ngFor="let recette of allRecipes"
                        [attr.selected]="
                          recette.nomRecette == douceur.nomRecette ? true : null
                        "
                        [attr.value]="recette.nomRecette"
                      >
                        {{ recette.nomRecette }}</option
                      >
                    </datalist>
                                        <input type="hidden" name="answer" id="answerInput-hidden" />
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button id="btn" type="submit" class="btn btn-sm btn-warning">
                    Modifier
                  </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>