<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)="register()">
                <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                <div class="form-group">
                    <label>Pseudo</label>
                    <input type="text" class="form-control" name="pseudo" placeholder="pseudo"
                        [(ngModel)]="credentials.pseudo">
                </div>
                <div class="form-group">
                    <label>Email </label>
                    <input type="email" class="form-control" name="email" placeholder="nom.prenom@exemple.com"
                        [(ngModel)]="credentials.email">
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control" name="mdp" placeholder="****"
                        [(ngModel)]="credentials.mdp">
                </div>
                
                <div class="form-group">
                    <label>Confirmer le mot de passe</label>
                    <input type="password" class="form-control" name="mdp2" placeholder="****"
                        [(ngModel)]="credentials.mdp2">
                </div>

                <!--METTRE Voulez vous recevoir un email lorsqu'une nouvelle recette est publiée ? oui/non 
                    SI CA MARCHE COLLER DANS MON PROFILE -> A TESTER CA MARCHE PAS TUTUTU
                -->
                <div class="form-group">
                    <label>Voulez vous recevoir un email lorsqu'une nouvelle recette est publiée ?</label>
                    <input type="radio" name="abonneNews" value="true" checked
                        [(ngModel)]="credentials.abonneNews"> Oui
                    <input type="radio" name="abonneNews" value="false"
                        [(ngModel)]="credentials.abonneNews"> Non
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Créer mon compte</button>
            </form>
        </div>
    </div>
</div>

