<div id="liste">
    <div class="app">
        <h2>Ma liste de courses</h2>
        <form>
            <input type="search" placeholder="Recherche" [formControl]="filter">
            <button id="add" class="btn btn-outline-success" (click)="open(content)"><i class="fa fa-plus-circle"></i></button>

        </form>

        <i id="panier" class="fa fa-shopping-basket fa-3x" aria-hidden="true"></i>
        <div class="app-body" *ngFor="let ingredient of filteredIngredient$ | async">
            <ul class="list">{{ingredient.nomIngredient}}
                <button id="trash" class="btn  btn-outline-danger" (click)=deleteListeCourse(ingredient.idIngredient)><i class="fa fa-trash"></i></button>
            </ul>
        </div>
    </div>

</div>

<ng-template #content let-modal>
    <!--ce qui s'ouvre quand on clique sur créer un nouvel ingrédient-->
    <div class="modal-header">
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="validationTooltip04">Ingrédient</label>
                    <select class="custom-select" id="validationTooltip04" #idIngredient="ngModel" [(ngModel)]="ingredientToAdd.idIngredient" [ngModelOptions]="{standalone: true}" required>
                    <option *ngFor="let ingredient of restIngredients$ | async"
                        [ngValue]="ingredient.idIngredient">
                        {{ingredient.nomIngredient}}</option>
                </select>
                    <div class="invalid-tooltip">
                        Selectionnez un ingrédient.
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button tyoe="button" class="btn btn-outline-dark" (click)="modal.close(ingredientToAdd)">Ajouter</button>
    </div>
</ng-template>