<div id="titre">
  <h1>Ingrédients</h1>

</div>




<div class='flex-container'>

  <div>
    <form>
      <input id="rech" class="form-control mr-sm-" type="search" placeholder="Rechercher un ingrédient"
        aria-label="Search" [formControl]="filter">
    </form>
    <table class="table col-md-12 mx-auto" *ngFor="let ingredient of filteredIngredient$ | async">

      <tr>
        <td>

          
            <form (submit)="updateIngredient(ingredient)">
              <div class="form-row align-items-center">
                <div class="col-auto">
          
                  <input id="zone" type="text" class="form-control" name="nomIngredient" value={{ingredient.nomIngredient}}
                    [(ngModel)]="ingredient.nomIngredient">
                </div>
                <div class="col-auto">
                  <button id="btn" class="btn btn-outline-warning" type="submit">Modifier</button>
          
                </div>
                <div class="col-auto">
                  <button id="btn" class="btn btn-outline-danger "
                    (click)="deleteIngredient(ingredient.idIngredient)">Supprimer</button>
                </div>
              </div>
            </form>
        
        </td>
      </tr>
    </table>
  </div>
  <div>
    <h6 id="question"> Ajouter un nouvel ingredient </h6>
    <form (submit)="addIngredient()">
      <input type="text" class="form-control" name="nomIngredient" placeholder="nom ingredient"
        [(ngModel)]="ingredient.nomIngredient">

      <button id="btn" class="btn btn-outline-info" type="submit">Valider</button>

    </form>
  </div>
</div>

