<div class="section--content-grid">
    <div class="part--layout-overview">
        <div class="panel" style="background-color: #f5f5f5;">
            <div class="title">
                <span class="bar" style="background-color: linear-gradient(90deg, #DE645E,#B43B8B)">
          </span>
                <h4> À PROPOS </h4>
            </div>
            <div class="content">
                <p>
                    Bienvenue sur marine's recipes ! Nous sommes Marine & Luca, deux grands gourmands passionnés de cuisine. 👩🏼‍🍳👨🏻‍🍳
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="part--grid row">
            <div class="img-holder image-1 visible col-md-6">
                <div class="img-border">
                    <img id="ombre" src="../../assets/img/me.jpeg" width="auto" height="auto" alt="photo de l'auteur du site.">
                </div>
                <!--<div class="shadow">-->

            </div>
            <div class="panel panel-1 visible col-md-6">
                <h4> Marine 🌿</h4>
                <ul>
                    <li>Hello!</li>
                    <li>Depuis mon plus jeune âge, j'adore cuisiner. </li>
                    <li>J'ai créé ce site afin de pouvoir partager ma passion et ma vision d'une alimentation saine et gourmande.</li>
                    <li>Parce que oui on peut se faire plaisir tout en mangeant équilibré!</li>
                </ul>

            </div>
        </div>
        <div class="culture-grid">
            <div class="part--grid row" style="flex-wrap: wrap-reverse;">

                <div class="panel panel-1 visible col-md-6" id="lucaTexte">
                    <h4> Luca 🍃 </h4>
                    <ul>
                        <li> Salut! Moi c'est Luca.</li>
                        <li> Depuis que j'ai rencontré Marine, mon alimentation a complètement changé et je me suis même mis à cuisiné! </li>
                        <li> J'ai découvert pleins de nouvelles recettes et je suis devenu son gouteur attitré. Parfois il m'arrive même de tester moi même les recettes que tu trouveras sur le site!</li>

                    </ul>



                </div>

                <div class="img-holder image-1 visible col-md-6">
                    <div class="img-border">
                        <img id="ombreLuca" src="../../../assets/img/luca.jpg" width="auto" height="auto" alt="photo de l'auteur du site.">
                    </div>
                    <!-- <div class="shadow" id="luca">-->


                </div>
            </div>
        </div>
    </div>