<div class="section--content-grid">
    <div class="part--layout-overview">
        <div class="panel" style="background-color: #f5f5f5;">
            <div class="title">
                <span class="bar" style="background-color: linear-gradient(90deg, #DE645E,#B43B8B)">
          </span>
                <h4> À PROPOS </h4>
            </div>
            <div class="content">
                <p>
                    Bienvenue sur marine's recipes ! Nous sommes Marine & Luca, deux grands gourmands passionnés de cuisine. 👩🏼‍🍳👨🏻‍🍳
                </p>
            </div>
        </div>
    </div>
    <div class="culture-grid">
        <div class="part--grid">
            <div class="img-holder image-1 visible">
                <div class="img-border">
                    <img id="ombre" src="../../assets/img/me.jpeg" width="auto" height="auto" alt="photo de l'auteur du site.">
                </div>
                <!--<div class="shadow">-->

            </div>
            <div class="panel panel-1 visible">
                <h4> Marine 🌿</h4>
                <ul>
                    <li>Je m'appelle Marine.</li>
                    <li>J'ai 21 printemps, et j'étudie dans une école d'ingénieur. </li>
                    <li>Depuis mon plus jeune âge, j'adore cuisiner. </li>
                    <li>J'ai créé ce site afin de partager les recettes que j'aime réaliser au quotidien.</li>
                </ul>

            </div>
        </div>
        <div class="culture-grid">
            <div class="part--grid">

                <div class="panel panel-1 visible" id="lucaTexte">
                    <h4> Luca 🍃 </h4>
                    <ul>
                        <li>Salut!</li>
                        <li> Moi c'est Luca, j'ai 24 ans et je suis aussi dans une école d'ingénieur.</li>
                        <li> Depuis que j'ai rencontré Marine, mon alimentation a complètement changé, je mange "healthy" comme elle dit et j'adore ça !</li>
                    </ul>



                </div>

                <div class="img-holder image-1 visible">
                    <div class="img-border">
                        <img id="ombreLuca" src="../../../assets/img/luca.jpg" width="auto" height="auto" alt="photo de l'auteur du site.">
                    </div>
                    <!-- <div class="shadow" id="luca">-->


                </div>
            </div>
        </div>
    </div>