/*
ul {
    text-align: center;
    white-space: pre-wrap;
    overflow-x: auto;
    display: block;
    padding: 12px;
    color: rgb(0, 0, 0);
    background: #f5f5f5;
}



h1,
#intro {
    text-align: center;
    margin-bottom: 5%;
}

#intro,
h3 {
    text-align: center;
    font-size: x-large;
}

h3 {
    font-weight: bold;
}

#conteneur {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.element:nth-child(1) {
    display: block;
    width: auto;
}

.element:nth-child(2) {
    display: block;
    width: auto;
}

#conteneur1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*new code

element.style {
    background-color: linear-gradient(90deg, #DE645E, #B43B8B);
}

.part--layout-overview .panel .title .bar {
    background: linear-gradient(90deg, #DE645E, #B43B8B, #702BBC);
    border-radius: 1px;
    display: block;
    margin: -24px 0 24px;
    height: 4px;
    width: 44px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

Style Attribute {
    --vh: 7.89px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

* {
    box-sizing: border-box;
}

.panel p {
    font-family: 'Larsseit-Light', sans-serif;
    color: #313333;
    font-size: 1.4vw;
    line-height: 1.56em;
    will-change: transform;
}

.page--about .section--content-grid .part--layout-overview .panel p {
    color: #3D4040;
}

.section--content-grid .part--grid .img-holder .img-border img {
    display: block;
    object-fit: cover;
    object-position: center;
}
*/

.bar {
    background: linear-gradient(90deg, #DE645E, #B43B8B, #702BBC);
    border-radius: 1px;
    display: block;
    height: 4px;
    width: 44px;
}

h4 {
    font: 14px Larsseit-Medium, sans-serif;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    vertical-align: baseline;
}

.panel h4 {
    color: #1D1F1F;
    line-height: 1.48em;
    font-size: 1.65vw;
    margin-bottom: 0.84em;
    will-change: transform;
    font-family: 'Larsseit-Medium', sans-serif;
}

.title h4 {
    letter-spacing: 0.35em;
    margin-bottom: 0;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
}

.content p {
    font-size: 16px;
}

.panel p {
    font-family: 'Larsseit-Light', sans-serif;
    color: #313333;
    /*font-size: 1.4vw;*/
    line-height: 1.56em;
    will-change: transform;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 2em;
}

.panel {
    padding-top: 64px;
    flex-direction: column;
    display: flex;
    //justify-content: space-between;
    padding: 10vw 10vw 5vw;
    position: relative;
    width: 100%;
    z-index: 2;
}

.img-holder .img-border img {
    display: block;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.part--grid {
    padding-bottom: 0;
    background: #F0F0F0;
    //display: grid;
    grid-template-columns: 1fr;
    padding: 10vw;
    position: relative;
    z-index: 4;
}

@media only screen and (min-width: 960px) {
    .page--about .section--content-grid .image-1 {
        height: 40vw;
        margin-top: -14vw;
        margin-left: -5vw;
    }
}

@media only screen and (min-width: 960px) {
    .section--content-grid .part--grid .img-holder {
        margin-left: 0;
        height: 30vw;
        width: 35vw;
    }
}

.section--content-grid .part--grid .img-holder {
    margin-bottom: 10vw;
    position: relative;
    margin-left: -5vw;
    //height: 60vw;
    //width: 90vw;
}

.page--about .section--content-grid .part--grid {
    padding-bottom: 0;
}

@media only screen and (min-width: 960px) {
    .section--content-grid .part--grid {
        grid-template-columns: 1fr 1fr;
    }
}

.section--content-grid .part--grid {
    background: #F0F0F0;
    //display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vw;
    position: relative;
    z-index: 4;
}

.section--content-grid .part--grid .img-holder.visible .img-border {
    transform: translateY(0) translateX(0);
}

.section--content-grid .part--grid .img-holder.visible .shadow {
    transform: scale(1);
}

.section--content-grid .part--grid .img-holder .shadow {
    background: #191a1a;
    display: block;
    filter: blur(6px);
    opacity: 0.18;
    position: absolute;
    left: 8%;
    top: 6.5%;
    transform: scale(0.95);
    height: 110%;
    width: 100%;
    z-index: -1;
    transition-delay: 250ms;
    transition: transform 1250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    will-change: transform;
}

#luca {
    right: 8%;
    left: inherit;
    top: 6.5%;
    height: 100%;
    width: 99%;
}

#lucaTexte {
    padding-left: 0;
    //padding-right: 10em;
}

@media only screen and (min-width: 960px) {
    .section--content-grid .part--grid .panel {
        margin-bottom: 8vw;
    }
}

.section--content-grid .part--grid .panel {
    margin-bottom: 96px;
    //padding-right: 5vw;
}

.panel {
    position: relative;
    width: 100%;
    z-index: 2;
}

.section--content-grid .part--grid .panel.visible h4,
.section--content-grid .part--grid .panel.visible p {
    opacity: 1;
}

.section--content-grid .part--grid .panel h4 {
    font-size: 16px;
}

.section--content-grid .part--grid .panel h4 {
    color: #1D1F1F;
    letter-spacing: 0.15em;
    margin: 0 0 2.5em;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    font-family: 'Larsseit-Medium', sans-serif;
}

@media only screen and (min-width: 960px) {
    .section--content-grid .part--grid .panel {
        margin-bottom: 8vw;
    }
}

.section--content-grid .part--grid .panel {
    margin-bottom: 96px;
    //padding-right: 5vw;
}

.panel {
    position: relative;
    width: 100%;
    z-index: 2;
}

.image-1 {
    //height: 40vw;
    margin-top: -14vw;
    margin-left: -5vw;
}

#ombre {
    box-shadow: 20px 20px 2px 1px rgba(0, 0, 0, 0.2);
}

#ombreLuca {
    box-shadow: -20px 20px 2px 1px rgba(0, 0, 0, 0.2);
}

.culture-grid {
    margin-left: 1em;
    flex-wrap: wrap-reverse;
    padding-bottom: 6em;
    background: #F0F0F0;
}