<div id="liste">
  <div class="app">
    <h2>Ma liste de courses</h2>
    <div class="col text-center has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input
        class="form-control"
        style="box-shadow: none;"
        type="search"
        placeholder="Rechercher..."
        aria-label="Search"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchTermChange()"
      />
      <button id="add" class="btn btn-outline-success" (click)="open(content)">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>

    <i id="panier" class="fa fa-shopping-basket fa-3x" aria-hidden="true"></i>
    <div class="app-body" *ngFor="let ingredient of ingredients$ | async">
      <ul class="list">
        {{
          ingredient.nomIngredient
        }}
        <button
          id="trash"
          class="btn btn-outline-danger"
          (click)="deleteListeCourse(ingredient.nomIngredient)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </ul>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <!--ce qui s'ouvre quand on clique sur créer un nouvel ingrédient-->
  <div class="modal-header">
    <h4 class="modal-title"></h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="col-md-6">
          <label for="validationTooltip04">Ingrédient</label>
          <input
            type="text"
            class="col-xs-8 col-sm-9"
            placeholder=""
            list="brow"
            #nomIngredient="ngModel"
            [(ngModel)]="ingredientToAdd.nomIngredient"
            [ngModelOptions]="{ standalone: true }"
          />
          <datalist id="brow">
            <option
              *ngFor="let ingredient of restIngredients$ | async"
              [ngValue]="ingredient.nomIngredient"
            >
              {{ ingredient.nomIngredient }}</option
            >
          </datalist>
          <div class="invalid-tooltip">
            Selectionnez un ingrédient.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      tyoe="button"
      class="btn btn-outline-dark"
      (click)="modal.close(ingredientToAdd)"
    >
      Ajouter
    </button>
  </div>
</ng-template>
