<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!--lien pour avoir le petit logo de poubelle-->

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Ma liste de courses</h1>
    </div>
</section>
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Ingrédient</th>
                            <th> </th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let ingredient of ingredients">
                        <tr>
                            <td><img id="image" src="../../assets/img/shoppingList.jpeg" /> </td>
                            <td> {{ingredient.nomIngredient}}</td> 
                           
                            
                            <td class="text-right"> <!--bouton supprimer AJOUTER FONCTION-->
                                <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                                </button> </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>