<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('select.select_all').siblings('ul').prepend('<li id=sm_select_all><span>Select All</span></li>');
        $('li#sm_select_all').on('click', function () {
            var jq_elem = $(this),
                jq_elem_span = jq_elem.find('span'),
                select_all = jq_elem_span.text() == 'Select All',
                set_text = select_all ? 'Select None' : 'Select All';
            jq_elem_span.text(set_text);
            jq_elem.siblings('li').filter(function () {
                return $(this).find('input').prop('checked') != select_all;
            }).click();
        });
    })
</script>

<div id="header">
    <h2>Ajout d'une nouvelle recette</h2>
</div>


<form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">

    <div id="conteneur">
        <div class="element 1 text-center col-md-6">
            <label for="validationTooltip05">Nom de la recette</label>
            <input type="text" formControlName="nomRecette" class="form-control" id="validationTooltip05" required>
            <div class="invalid-tooltip">
                Rentrez un nom correcte.
            </div>
        </div>

        <div class="element 2 custom-file col-md-6">
            <input type="file" class="custom-file-input" id="validatedCustomFile">
            <label class="custom-file-label" for="validatedCustomFile">Choisir une image...</label>
            <!--A FAIRE-->
        </div>

        <div class="element 3 card border-secondary col-md-6">
            <div class="card-header">Catégorie</div>
            <br>
            <form>
                <div id="ingrForm" class="form-row">
                    <div class="col-md-4 mb-4">
                        <ng-multiselect-dropdown [data]="categories" placeholder="sélectionner"
                            [settings]="dropdownSettings" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                        <div class="invalid-tooltip">
                            Selectionnez une catégorie.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="element 4 card border-secondary col-md-6">
            <div class="card-header">Ingrédients</div>
            <form [formGroup]="ingredientForm">
                <!--formulaire ingrédients-->
                <div formArrayName="ingredient">
                    <div *ngFor="let ing of formData['controls']; let idx = index" [formGroupName]="idx"
                        class="ingredient">
                        <!--idx = indexe d'une ligne ingrédient du formulaire-->
                        <div id="ingrForm" class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="validationTooltip04">Ingrédient</label>
                                <select class="custom-select" id="validationTooltip04" formControlName="idIngredient"
                                    required>
                                    <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient.idIngredient">
                                        {{ingredient.nomIngredient}}</option>
                                </select>
                                <div class="invalid-tooltip">
                                    Selectionnez un ingrédient.
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="validationTooltip05">Quantité</label>
                                <input type="number" class="form-control" id="validationTooltip05"
                                    formControlName="qte" required>
                                <div class="invalid-tooltip">
                                    Rentrez une quantité correcte.
                                    <!--Vérifier que c'est pas négatif ou nulle-->
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="validationTooltip04">Unité</label>
                                <select class="custom-select" id="validationTooltip04" formControlName="idUnite"
                                    required>
                                    <option *ngFor="let unite of unites" [ngValue]="unite.idUnite">
                                        {{unite.libelleUnite}}
                                    </option>
                                </select>
                                <div class="invalid-tooltip">
                                    Selectionnez une unité.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="buttonIngredient" class="form-row">
                    <button type="button" class="btn btn-outline-info" (click)="addIngredient()">Ajouter un nouvel
                        ingrédient</button>
                    <ng-template #content let-modal>
                        <!--ce qui s'ouvre quand on clique sur créer un nouvel ingrédient-->
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="nomIngredient"> Nom de l'ingrédient </label>
                                    <div class="input-group">
                                        <input id="nomIngredient" class="form-control" placeholder="Cacahuète"
                                            #nomIngredient="ngModel" [(ngModel)]="newIngredient.nomIngredient"
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button tyoe="button" class="btn btn-outline-dark"
                                (click)="modal.close(newIngredient.nomIngredient)">Ajouter</button>
                        </div>
                    </ng-template>

                    <button class="btn btn-outline-primary" (click)="open(content)">Créer un nouvel ingrédient</button>
                    <!--on appelle le modal-->
                </div>

            </form>
            <!--fin du formulaire ingrédients-->

        </div>
        <div class="element 5 card border-secondary col-md-6">
            <div class="card-header">Préparation</div>
            <div class="card-body">
                <textarea class="form-control" formControlName="etapes" id="exampleFormControlTextarea1" rows="8" required></textarea>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <button id="validateButton"  type="submit" [disabled] = "ingredientForm.invalid"
            class="col-ld-6 btn btn-outline-success">Valider</button>
    </div>
</form>