<div class="media">
    <img src="../../assets/img/AroundMyWorld.jpeg" class="img-fluid" alt="Image Around my world, eat good feel good">
</div>

<h5>Les plus vues</h5>


<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3" *ngFor="let recette of this.mostPopularRecipes">
        <div class="card wrap">
            <div id="photo" [ngStyle]="{'background-image': 'url(&quot;' + recette.lienImage + '&quot;)'}"
                (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]">
            </div>
            <div>
                <a>
                </a>
                <div id="titleRecipe">
                    <h3 class="food">
                        {{recette.nomRecette}}
                    </h3>
                </div>
                <div id="logoRecette">
                    <div>
                        <i class="fa fa-clock-o"></i><a class="picto-item" aria-label="Temps de préparation"><i
                                id="textlogo">{{recette.globalTime}}</i></a>
                    </div>
                    <div>
                        <i class="fa fa-users"></i><a class="picto-item" aria-label="Nombre de parts"><i
                                id="textlogo">{{recette.nbrePart}} {{recette.libellePart}}</i></a>
                    </div>
                    <div>
                        <a class="picto-item" aria-label="Nombre de vues"><i id="textlogo">{{recette?.nbVues}}</i><i
                                id="vue"> 👁</i></a>
                    </div>
                    <div id="coeur">
                        <a *ngIf="this.auth.isLoggedIn() && !this.favoris.includes(recette.idRecette)" id="btn"
                            (click)="addFavoris(recette?.idRecette)" class="picto-item"
                            aria-label="Ajouter aux favoris"><i id="textlogo">{{recette?.nbFavoris}} </i><i
                                class="fa fa-heart-o"></i></a>
                        <a *ngIf="this.auth.isLoggedIn() && this.favoris.includes(recette.idRecette)" id="btn"
                            (click)="deleteFavoris(recette.idRecette)" class="picto-item"
                            aria-label="Supprimer des favoris"><i id="textlogo">{{recette?.nbFavoris}} </i><i
                                class="class= fa fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h5>Les Nouveautés</h5>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3" *ngFor="let recette of this.latestRecipes">
        <article class="card wrap">
            <div id="photo" [ngStyle]="{'background-image': 'url(&quot;' + recette.lienImage + '&quot;)'}"
                (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]">
            </div>
            <div>
                <a>
                </a>
                <div id="titleRecipe">
                    <h3 class="food">
                        {{recette.nomRecette}}
                    </h3>
                </div>
                <div id="logoRecette">
                    <div>
                        <i class="fa fa-clock-o"></i><a class="picto-item" aria-label="Temps de préparation"><i
                                id="textlogo">{{recette.globalTime}}</i></a>
                    </div>
                    <div>
                        <i class="fa fa-users"></i><a class="picto-item" aria-label="Nombre de parts"><i
                                id="textlogo">{{recette.nbrePart}} {{recette.libellePart}}</i></a>
                    </div>
                    <div>
                        <a class="picto-item" aria-label="Nombre de vues"><i id="textlogo">{{recette?.nbVues}}</i><i
                                id="vue"> 👁</i></a>
                    </div>
                    <div id="coeur">
                        <a *ngIf="this.auth.isLoggedIn() && !this.favoris.includes(recette.idRecette)" id="btn"
                            (click)="addFavoris(recette?.idRecette)" class="picto-item"
                            aria-label="Ajouter aux favoris"><i id="textlogo">{{recette?.nbFavoris}} </i><i
                                class="fa fa-heart-o"></i></a>
                        <a *ngIf="this.auth.isLoggedIn() && this.favoris.includes(recette.idRecette)" id="btn"
                            (click)="deleteFavoris(recette.idRecette)" class="picto-item"
                            aria-label="Supprimer des favoris"><i id="textlogo">{{recette?.nbFavoris}} </i><i
                                class="class= fa fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>