<div class="media">
    <img src="../../assets/img/AroundMyWorld.jpeg" class="img-fluid" alt="Image Around my world, eat good feel good">
</div>

<h5>Les plus vues</h5>

<div id="carousel" class="col-12 col-xl-9 px-md-0 pr-xl-4">
    <div id="card">
        <div id="card-body">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let recette of this.mostPopularRecipes"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <div class="picsum-img-wrapper">
                        <img id="img" [src]="recette.lienImage" alt="Random first slide" (click)="updateNbView(recette)"
                            [routerLink]="['/recipe', recette.idRecette]">
                    </div>
                    <div class="carousel-caption">
                        <div id="titleRecipe" class="carousel-caption">
                            <h3 id="h3">{{recette.nomRecette}}</h3>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>


<h5>Les Nouveautés</h5>

<div id="carousel2" class="col-12 col-xl-9 px-md-0 pr-xl-4">
    <div id="card">
        <div id="card-body">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let recette of this.latestRecipes"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <div class="picsum-img-wrapper">
                        <img id="img" [src]="recette.lienImage" alt="Random first slide" (click)="updateNbView(recette)"
                            [routerLink]="['/recipe', recette.idRecette]">
                    </div>
                    <div class="carousel-caption">
                        <div id="titleRecipe" class="carousel-caption">
                            <h3 id="h3">{{recette.nomRecette}}</h3>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>