h5 {
    text-align: center;
    margin-top: 5%;
    //text-decoration: underline;
    font-family: "PeachesandCreamRegularW00";
    font-size: 80px;
}

#carousel {
    margin: auto;
}

#carousel2 {
    margin: auto;
    margin-bottom: 5em;
}

#logoRecette {
    display: flex;
    position: relative;
    bottom: 27px;
    left: 24px;
    right: 24px;
    color: white;
    justify-content: space-between;
    //background-color: rgba(0, 0, 0, 0.35)
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

#photo {
    box-shadow: inset 30em 30em rgba(0, 0, 0, 0.35);
    //background-color: rgba(0, 0, 0, 0.35)
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// FONT
$font: "Roboto", sans-serif;
// COLORS
$white: #fff;
$black: #212129;
$gray: #9b9b9b;
$heart: #c2567f;
$button: #154360;
* {
    margin: 0;
    padding: 0;
    font-family: $font;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $button;
}

#textlogo {
    font-family: "proxima_nova_rgregular";
    text-transform: uppercase;
    color: $white;
    font-size: medium;
}

#coeur {
    a {
        color: $heart;
    }
}

#titleRecipe {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    //display: flex;
    position: absolute;
    //bottom: 77px;
    left: 24px;
    right: 24px;
    display: block;
    width: 50%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

#h3 {
    display: block;
    //height: 300px;
    font-size: 40px;
    line-height: 70px;
    border-style: solid;
    border-color: $white;
}

h3 {
    //height: 100px;
    vertical-align: middle;
    display: table-cell;
    font-family: "PeachesandCreamRegularW00";
    font-size: 50px;
    color: $white;
    font: normal normal bold 28px/35px cookie, cursive;
}

@media (max-width: 1000px) {
    #h3 {
        font-size: 30px;
        line-height: 50px;
    }
}

@media (max-width: 700px) {
    #h3 {
        font-size: 20px;
        line-height: 40px;
    }
}

@media (max-width: 400px) {
    #h3 {
        font-size: 15px;
        line-height: 20px;
    }
}

ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

::ng-deep .carousel-control-next-icon {
    filter: invert(1);
}

::ng-deep .carousel-control-prev-icon {
    filter: invert(1);
}

#img {
    margin: auto;
    height: 100%;
    width: auto;
    filter: brightness(0.8);
}

ngb-carousel {
    background-color: $white;
}

i {
    display: inline;
}

html,
body {
    height: 100%;
}

.row {
    margin-left: inherit;
    margin-right: inherit;
}

#card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card {
    height: 450px;
    min-height: 450px;
    position: relative;
    background: $white;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
    .header,
    #photo {
        min-height: 100%;
        .icon a .fa-heart-o,
        .fa-heart {
            position: absolute;
            left: 85%;
            bottom: 30.7%;
            background: $heart;
            color: $white;
            font-size: 1.3em;
            font-weight: bold;
            padding: 15px;
            border-radius: 50%;
            box-shadow: 0px 5px 30px 1px $heart;
        }
    }
    .text {
        .food {
            color: $black;
            text-align: left;
            font-weight: normal;
            text-transform: uppercase;
            //letter-spacing: 0.1em;
            margin: 5px 30px;
        }
        .fa-clock-o,
        .fa-users,
        #coeur,
        #vue {
            color: $gray;
            margin: 0 10px;
        }
    }
    a.btn {
        display: block;
        background: $button;
        color: $white;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 10px;
        transition: 250ms;
    }
}

#btn {
    background: transparent;
    border: none;
}

//bulle infos
