<div class="media">
    <img src="../../assets/img/AroundMyWorld.jpeg" class="img-fluid" alt="Image Around my world, eat good feel good">
</div>

<h5>Les plus vues</h5>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3" *ngFor="let recette of this.mostPopularRecipes">
        <!--Pour chaque recette on représente sa carte-->
        <div class="card">
            <div class="header">
                <img id="photo" src="{{recette.lienImage}}" alt="Photo de la recette">
                <div class="icon">
                    <a *ngIf="this.auth.isLoggedIn() && !this.favoris.includes(recette.idRecette)" id="btn" type="button" class="btn btn-outline-danger" (click)="addFavoris(recette?.idRecette)"> <i class="fa fa-heart-o"></i></a>
                    <a *ngIf="this.auth.isLoggedIn() && this.favoris.includes(recette.idRecette)" id="btn" type="button" class="btn btn-outline-danger" (click)="deleteFavoris(recette.idRecette)"> <i class="class= fa fa-heart"></i></a>
                </div>
            </div>
            <div class="text">
                <h3 class="food">
                    {{recette.nomRecette}}
                </h3>
                <i class="fa fa-clock-o"> {{recette.globalTime}}</i>
                <i class="fa fa-users"> {{recette.nbrePart}} {{recette.libellePart}}</i>
                <i id="coeur"> {{recette.nbFavoris}} ♥  </i>
                <i id="vue">{{recette.nbVues}} 👁</i>
                <br>
            </div>
            <a (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]" class="btn">Voir la recette!</a>
        </div>
    </div>
</div>


<h5>Les Nouveautés</h5>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3" *ngFor="let recette of this.latestRecipes">
        <!--Pour chaque recette on représente sa carte-->
        <div class="card">
            <div class="header">
                <img id="photo" src="{{recette.lienImage}}" alt="Photo de la recette">
                <div class="icon">
                    <a *ngIf="this.auth.isLoggedIn() && !this.favoris.includes(recette.idRecette)" id="btn" type="button" class="btn btn-outline-danger" (click)="addFavoris(recette?.idRecette)"> <i class="fa fa-heart-o"></i></a>
                    <a *ngIf="this.auth.isLoggedIn() && this.favoris.includes(recette.idRecette)" id="btn" type="button" class="btn btn-outline-danger" (click)="deleteFavoris(recette.idRecette)"> <i class="class= fa fa-heart"></i></a>
                </div>
            </div>
            <div class="text">
                <h3 class="food">
                    {{recette.nomRecette}}
                </h3>
                <i class="fa fa-clock-o"> {{recette.globalTime}}</i>
                <i class="fa fa-users"> {{recette.nbrePart}} {{recette.libellePart}}</i>
                <i id="coeur"> {{recette?.nbFavoris}} ♥  </i>
                <i id="vue">{{recette?.nbVues}} 👁</i>
                <br>
            </div>
            <a (click)="updateNbView(recette)" [routerLink]="['/recipe', recette.idRecette]" class="btn">Voir la recette!</a>
        </div>
    </div>
</div>