h5 {
    text-align: center;
    margin-top: 5%;
    //text-decoration: underline;
    font-family: "PeachesandCreamRegularW00";
    font-size: 80px;
}

#logoRecette {
    display: flex;
    position: absolute;
    bottom: 27px;
    left: 24px;
    right: 24px;
    color: white;
    justify-content: space-between;
    //background-color: rgba(0, 0, 0, 0.35)
}

#photo {
    box-shadow: inset 30em 30em rgba(0, 0, 0, 0.35);
    //background-color: rgba(0, 0, 0, 0.35)
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// FONT
$font: "Roboto", sans-serif;
// COLORS
$white: #fff;
$black: #212129;
$gray: #9b9b9b;
$heart: #c2567f;
$button: #154360;
* {
    margin: 0;
    padding: 0;
    font-family: $font;
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $button;
}

#textlogo {
    font-family: "proxima_nova_rgregular";
    text-transform: uppercase;
    color: $white;
    font-size: medium;
}

#coeur {
    a {
        color: $heart;
    }
}

#titleRecipe {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    //display: flex;
    position: absolute;
    bottom: 77px;
    left: 24px;
    right: 24px;
    border-bottom-color: white;
    border-bottom-style: outset;
}

h3 {
    height: 100px;
    vertical-align: middle;
    display: table-cell;
    font-family: "PeachesandCreamRegularW00";
    font-size: 60px;
    color: $white;
    font: normal normal bold 28px/35px cookie,cursive;
}

i {
    display: inline;
}

html,
body {
    height: 100%;
}

.row {
    margin-left: inherit;
    margin-right: inherit;
}

.card {
    height: 450px;
    min-height: 450px;
    position: relative;
    background: $white;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
    .header,
    #photo {
        min-height: 100%;
        .icon a .fa-heart-o,
        .fa-heart {
            position: absolute;
            left: 85%;
            bottom: 30.7%;
            background: $heart;
            color: $white;
            font-size: 1.3em;
            font-weight: bold;
            padding: 15px;
            border-radius: 50%;
            box-shadow: 0px 5px 30px 1px $heart;
        }
    }
    .text {
        .food {
            color: $black;
            text-align: left;
            font-weight: normal;
            text-transform: uppercase;
            //letter-spacing: 0.1em;
            margin: 5px 30px;
        }
        .fa-clock-o,
        .fa-users,
        #coeur,
        #vue {
            color: $gray;
            margin: 0 10px;
        }
    }
    a.btn {
        display: block;
        background: $button;
        color: $white;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 10px;
        transition: 250ms;
    }
}

#btn {
    background: transparent;
    border: none;
}

//bulle infos
